* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  text-align: center;
  background-color: rgb(57, 1, 1);
}
.banner {
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  height: 470px;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  display: block;
}
h1 {
  margin-top: 10px;
  color: white;
  margin-bottom: 5px;
  border: dashed 2px red;
  border-radius: 30px;
}

h3 {
  color: yellow;
  margin-bottom: 5px;
  border: solid 2px brown;
  border-radius: 30px;
}

.images {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 5px;
}

.neat {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  background-color: #003c7b;
  width: 70%;
  border: solid 4px yellow;
  border-radius: 30px;
}

.parentneat {
  display: flex;
  justify-content: center;
  align-items: center;
}
